# **Forecast Future Market Trends**

Based on the best models trained, will forcast the next 6-12 months of Tesla's price
- analyze tesla's trend
- analyze risk
- analyze volatility
- analyze market oportunity

First, import required libraries and script modules

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os, sys
# Add the 'scripts' directory to the Python path for module imports
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

# Set max rows and columns to display
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

# Configure logging
from logger import SetupLogger
# Assuming this class is defined in scripts/
from data_preprocessing import DataPreprocessor
from future_forecasting import ModelForecaster
logger = SetupLogger(log_file='../logs/notebooks.log').get_logger()

# Set default figure size for all plots
plt.rcParams['figure.figsize'] = (14, 7)

**Loading the recent Tesla's Dataset**

In [7]:
# Initialize class instances
path = '../data/'
processor = DataPreprocessor(data_dir = path, logger=logger)

# Load the data
tsla_data = processor.load_data('TSLA')

In [3]:
tsla_data.head()

              Open      High     Low   Close    Volume
Date
2024-12-31  423.79  427.9300  402.54  403.84  76825121
2024-12-30  419.40  427.0000  415.75  417.41  64941012
2024-12-27  449.52  450.0000  426.50  431.66  82666821
2024-12-26  465.16  465.3299  451.02  454.13  76651210
2024-12-24  435.90  462.7800  435.14  462.28  59551750

**Model Forcasting**

In [ ]:
# Initialize forecaster
forecaster = ModelForecaster(tsla_data, '../data/tsla_forecast_12_months.csv', logger=logger)

# Plot forecasts
forecaster.plot_forecast()

In [ ]:
# Analyze forecasts
result = forecaster.analyze_forecast()
result